@using System
@using Sandbox;
@using Sandbox.UI;

@namespace MurderGame
@inherits Panel

<style>
playerinfo {
	position: absolute;
	width: 100vw;
	height: 100vh;
}
.box {
	background-color: rgba(0, 0, 0, 0.20);
	backdrop-filter-blur: 8px;
	display: flex;
	align-items: center;
	flex-direction: row;
	gap: 10px;
	padding: 10px;
}
.playerinfo {
	position: absolute;
	left: 30px;
	bottom: 30px;
}
.teaminfo {
	position: absolute;
	right: 30px;
	bottom: 30px;
}
</style>

<div class="playerinfo box">
	<Health Colour="@GetCharacterColour()"></Health>
	<NameInfo Colour="@GetCharacterColour()"></NameInfo>
</div>
<div class="teaminfo box">
	<TeamInfo Colour="@GetTeamColour()"></TeamInfo>
</div>

@code
{
    public string GetCharacterColour()
    {
        var clientPawn = Game.LocalPawn;
        if (clientPawn is Player {Camera: not null } player)
        {
	        var colour = player.Camera.GetObservedColour();
	        return string.IsNullOrWhiteSpace(colour) ? "white" : colour;
        }
        return "white";
    }
	
	public string GetTeamColour()
	{
		var clientPawn = Game.LocalPawn;
		if (clientPawn is Player {Camera: not null } player)
		{
			var colour = TeamOperations.GetTeamColour(player.Camera.GetObservedTeam());
			return string.IsNullOrWhiteSpace(colour) ? "white" : colour;
		}
		return "white";
	}

    protected override int BuildHash()
    {
	    return HashCode.Combine(GetTeamColour().GetHashCode(), GetTeamColour().GetHashCode());
    }
}
