@using Sandbox;
@using Sandbox.UI;
@using System;

@namespace MurderGame
@inherits Panel

<style>
lookingatinfo {
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.box {
	font-weight: 700;
	font-size: 20px;
	font-family: "Roboto";
	margin-top: 100px;
	text-shadow: 1px 1px 0 0 rgba(0,0,0,0.75);
}
.text {
	/* text-shadow: 1px 1px 0px 0px rgba(0,0,0,0.75); */
}
</style>

@if (GetLookingAtName() != "")
{
<smallbox class="box" style="color: @GetLookingAtColour()">
	<span class="text">@GetLookingAtName()</span>
</smallbox>
}

@code
{
	public string GetLookingAtName()
	{
		if (Game.LocalPawn is not Player player) return "";
		return player.LookingAt is not { } lookingAt ? "" : (lookingAt.CharacterName ?? lookingAt.Client.Name);
	}
	
	public string GetLookingAtColour()
	{
		if (Game.LocalPawn is not Player player) return "white";
		return player.LookingAt is not { } lookingAt ? "white" : (string.IsNullOrWhiteSpace(lookingAt.HexColor) ? "white" : lookingAt.HexColor);
	}

	protected override int BuildHash()
	{
		return GetLookingAtName().GetHashCode();
	}
}
