@using Sandbox;
@using Sandbox.UI;

@namespace MurderGame
@inherits Panel

<style>
.team-info {
    font-size: 30px;
    font-weight: 700;
    font-family: "Roboto";
}
</style>

<div class="team-info" style="color: @(Colour)">
@GetName()
</div>

@code
{
    public string Colour { get; set; }

    public string GetName()
    {
        var clientPawn = Game.LocalPawn;
        if (clientPawn is Player {Camera: not null } player)
        {
            return player.Camera.GetObservedName();
        }
        return "";
    }

    protected override int BuildHash()
    {
        return GetName().GetHashCode();
    }
}
