@using Sandbox;
@using Sandbox.UI;

@namespace MurderGame
@inherits Panel

<style>
Health {
    width: 350px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.90);
	box-shadow: 1px 1px 0 0 rgba(0,0,0,0.75);
}
.colour-bar {
    height: 100%;
}
.transition-bar {
    height: 100%;
    transition: width 1s ease-out 0.5s;
	position: absolute;
	top: 0;
	left: 0;
}
</style>
<div class="transition-bar" style="background-color: rgba(255, 255, 255, 0.8); width: @(GetHealth())%;"></div>
<div class="colour-bar" style="background-color: @(Colour); width: @(GetHealth())%;"></div>

@code
{
    public string Colour { get; set; }

    public int GetHealth()
    {
        var clientPawn = Game.LocalPawn;
        if (clientPawn is Player {Camera: not null } player)
        {
            return player.Camera.GetObservedHealth().CeilToInt();
        }
        return 0;
    }

    protected override int BuildHash()
    {
        return GetHealth().GetHashCode();
    }
}
