@using Sandbox;
@using Sandbox.UI;

@namespace MurderGame
@inherits Panel

<style>
crosshair {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.dot {
	border-radius: 3px;
	width: 6px;
	height: 6px;
	background-color: white;
}
</style>

<div class="dot"></div>

