@using System
@using Sandbox;
@using Sandbox.MenuSystem;
@using Sandbox.UI;
@attribute [StyleSheet]
@inherits Sandbox.UI.GameMenu.DefaultGameMenu

<style>
.wip-warning {
    position: absolute;
    z-index: 1000000;
    background-color: #FF4136;
    font-family: 'Roboto';
    font-size: 40px;
    width: 100%;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
}
</style>
<root class="gamemainmenu">


    <div class="wip-warning">Work in progress! Expect bugs, missing features, and general weird-ness. Things *will* break.</div>

    <div class="navigator-canvas" slot="navigator-canvas"></div>


</root>
